.alert{
    border-radius: 28px;
    height: 40px;
    
}

.alert-success, .alert-danger, .alert-info, .alert-warning{
    background-color: transparent;
    padding-top: 7px;

}


.alert-success{
    color: rgb(14, 127, 131);
    border-color:rgb(14, 127, 131);
}

.alert-danger{
    color: rgb(228, 19, 64);
}

.alert-info{
    color: rgb(37, 86, 123);
}

.alert-warning{
    color: rgb(233, 159, 89);
}

/* .close{
    color: rgb(14, 127, 131);
} */