<div class="card border-light mb-3" style="max-width:100%;">
    <div class="card-body">
      <div class="container-fluid">
        <br>
        <div class="container">
          <div class="row">
            <div class="card border-light mb-3" style="max-width: 100%; text-align: center;">
              <div class="card-header"><h2 class="card-title">
                Bienvenido al Sistema de Gestión para Reportes de Incidencias</h2></div>
            </div>
            
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" >  
              <div class="card-header">Usuarios</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="padding-left: 30px;"><i class="fa fa-user fa-4x"></i></div>
                  <div class="col-md-6" style="text-align: right;padding-right: 30px;">
                    <div class="row"><h1>{{cantUser}}</h1></div>
                    <div class="row justify-content-end" >Cantidad de Usuarios</div>
                  </div>
                </div>
                </div>
              <div class="card-footer text-muted" style="background-color: white;">
                <div class="row">
                  <div class="col-md-6" style="text-align: left;cursor: pointer;" [routerLink]="['/sgri/home/users']" >Ver Detalles</div>
                  <div class="col-md-6" style="text-align: right;cursor: pointer;"
                  [routerLink]="['/sgri/home/users']"> <i class="fa fa-arrow-circle-right"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-info mb-3" style="max-width: 100%;">
              <div class="card-header">Inventario</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="padding-left: 30px;"><i class="fa fa-archive fa-4x"></i></div>
                  <div class="col-md-6" style="text-align: right; padding-right: 30px;">
                    <div class="row"><h1>{{cantEquipments}}</h1></div>
                    <div class="row justify-content-end">Equipos</div>
                  </div>
                </div>
                 </div>
              <div class="card-footer text-info" style="background-color: white;">
                <div class="row">
                  <div class="col-md-6" style="text-align: left;cursor: pointer;" [routerLink]="['/sgri/home/inventory']">Ver Detalles</div>
                  <div class="col-md-6" style="text-align: right;cursor: pointer;" [routerLink]="['/sgri/home/inventory']"><i class="fa fa-arrow-circle-right"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-warning mb-3" style="max-width: 100%;">
              <div class="card-header">Reportes Gráficos</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="padding-left: 30px;"><i class="fa fa-signal fa-4x"></i></div>
                  <div class="col-md-6" style="text-align: right; padding-right: 30px;">
                    <div class="row"><h1>{{cantEquipments}}</h1></div>
                    <div class="row justify-content-end">Equipos</div>
                  </div>
                </div>
                 </div>
              <div class="card-footer text-warning" style="background-color: white;">
                <div class="row">
                  <div class="col-md-6" style="text-align: left;cursor: pointer;" [routerLink]="['/sgri/home/reports']">Ver Detalles</div>
                  <div class="col-md-6" style="text-align: right;cursor: pointer;" [routerLink]="['/sgri/home/reports']"><i class="fa fa-arrow-circle-right"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 100%;">
              <div class="card-header">Planes</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="padding-left: 30px;"><i class="fa fa-list-alt fa-4x"></i></div>
                  <div class="col-md-6" style="text-align: right; padding-right: 30px;">
                    <div class="row"><h1>{{cantPlans}}</h1></div>
                    <div class="row justify-content-end">Planes sin atender</div>
                  </div>
                </div>
                 </div>
              <div class="card-footer text-success" style="background-color: white;">
                <div class="row">
                  <div class="col-md-6" style="text-align: left;cursor: pointer;" [routerLink]="['/sgri/home/plans']">Ver Detalles</div>
                  <div class="col-md-6" style="text-align: right;cursor: pointer;" [routerLink]="['/sgri/home/plans']"><i class="fa fa-arrow-circle-right"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width:100%;">
              <div class="card-header">Incidencias</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="padding-left: 30px;"><i class="fa fa-tasks fa-4x"></i></div>
                  <div class="col-md-6" style="text-align: right;padding-right: 30px;">
                    <div class="row"><h1>{{cantIncidents}}</h1></div>
                    <div class="row justify-content-end" >Incidencias sin atender</div>
                  </div>
                </div>
                </div>
              <div class="card-footer text-primary" style="background-color: white;">
                <div class="row">
                  <div class="col-md-6" style="text-align: left;cursor: pointer;" [routerLink]="['/sgri/home/incidents']" >Ver Detalles</div>
                  <div class="col-md-6" style="text-align: right;cursor: pointer;"
                  [routerLink]="['/sgri/home/incidents']"> <i class="fa fa-arrow-circle-right"></i></div>
                </div>
              </div>
            </div>
          </div>
		  
		 
        </div>
      </div>
      
    </div>
  </div>
