<div class="card border-light mb-3" style="max-width:100%;margin-bottom: 0%;">
    <div class="card-body" style="padding-left: 50px; padding-right: 50px;">
      <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
            <div class="row">
                <div class="card border-light mb-3" style="max-width: 95%; text-align: center;">
                  <div class="card-header"><h2 class="card-title">Facultades</h2></div>
                </div>
              </div>
            <table class="table table-hover" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sede</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light" *ngFor="let item of facultys$ |async; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.campus}}</td>
                    <td>
                       <button type="button" style="margin-left: 5px;" class="btn btn-success btn-sm" 
                       data-bs-target="#modalCampus" data-bs-toggle="modal" (click)="modalMode(1,2, item)">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5px;"
                           (click)="workFaculty(3, item)"
                             >Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table> 
              <div class="row"  style="text-align: center;">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-sm" (click)="modalMode(1,1)"
                     data-bs-target="#modalCampus" data-bs-toggle="modal">Añadir</button>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="row">
                <div class="card border-light mb-3" style="max-width: 95%; text-align: center;">
                  <div class="card-header"><h2 class="card-title">Departamentos</h2></div>
                </div>
              </div>
            <table class="table table-hover" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nombre</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light" *ngFor="let item of sections$ |async; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" (click)="modalMode(2,2,item)"
                       data-bs-target="#modalCampus" data-bs-toggle="modal" style="margin-left: 5px;">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5px;"
                           (click)="workSection(3, item)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table> 
              <div class="row"  style="text-align: center;">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-sm" (click)="modalMode(2,1)"
                  data-bs-target="#modalCampus" data-bs-toggle="modal">Añadir</button>
                </div>
              </div>
          </div>
      </div>

        <div class="row"  style="text-align: center;">
            <div class="col-md-12">
                <i class="fa fa-arrow-left fa-2x"  style="cursor: pointer; text-align: center;margin-top: 10px" 
                (click)="backClicked()"
                data-bs-toggle="tooltip" data-bs-placement="right" title="Volver"></i>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- modal Añadir y Editar -->
<div class="modal"  id="modalCampus">
  <div class="modal-dialog modal-dialog-centered" type="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" 
        [ngClass]="{'text-primary': actionMode == 1,
         'text-success': actionMode == 2 }"
        >{{modalTitle}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card border-light mb-3" style="max-width: 100%">
          
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <ng-container *ngIf = "currentOption == 1">
                  <form [formGroup]="facultysForm" >
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <!-- <ng-container *ngIf="actionMode!=3"> -->
                                      <input [ngClass]="{
                                        'is-invalid':
                                        facultysForm.get('name')?.errors &&
                                        facultysForm.get('name')?.touched,
                                        'is-valid':
                                        facultysForm.get('name')?.touched &&
                                        facultysForm.get('name')?.valid
                                    }"
                                      type="text" class="form-control" id="name" name="name" 
                                      placeholder="Nombre"
                                      formControlName="name" autocomplete="off">
                                      <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          facultysForm.get('name')?.hasError('required') &&
                          facultysForm.get('name')?.touched
                      "
                      >Campo requerido
                    </div>
                                    <!-- </ng-container> -->
                                    <!-- <ng-container *ngIf="actionMode==3">
                                      <input type="text" class="form-control" id="name" name="name" 
                                      placeholder="Asunto" readonly=""
                                      formControlName="name" autocomplete="off">
                                    </ng-container> -->
                                    <label for="name" >Nombre</label>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <!-- <ng-container *ngIf="actionMode!=3"> -->
                                      <input [ngClass]="{
                                        'is-invalid':
                                        facultysForm.get('campus')?.errors &&
                                        facultysForm.get('campus')?.touched,
                                        'is-valid':
                                        facultysForm.get('campus')?.touched &&
                                        facultysForm.get('campus')?.valid
                                    }"
                                      type="text" class="form-control" id="campus" name="campus" 
                                      placeholder="Sede"
                                      formControlName="campus" autocomplete="off">
                                      <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          facultysForm.get('campus')?.hasError('required') &&
                          facultysForm.get('campus')?.touched
                      "
                      >Campo requerido
                    </div>
                                    <!-- </ng-container>
                                    <ng-container *ngIf="actionMode==3">
                                      <input type="text" class="form-control" id="name" name="name" 
                                      placeholder="Asunto" readonly=""
                                      formControlName="name" autocomplete="off">
                                    </ng-container> -->
                                    <label for="name" >Sede</label>
                                  </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                      <div class="row" style="margin-top: 20px;">
                          <div class="col-md-12" style="text-align: right;">
                           <ng-container *ngIf="actionMode==1">
                            <button  class="btn btn-primary" id="buttonSumit" data-bs-dismiss="modal" (click)="workFaculty(1)"
                            [disabled]="!facultysForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                           <ng-container *ngIf="actionMode==2">
                            <button  class="btn btn-success" id="buttonSumit" data-bs-dismiss="modal" (click)="workFaculty(2)"
                           [disabled]="!facultysForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                              <button type="button" class="btn btn-dark" style="margin-left: 5px;" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                      </div>
                  </div>
                  </form>
                </ng-container>
                <ng-container *ngIf = "currentOption == 2">
                  <form [formGroup]="sectionsForm" >
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <!-- <ng-container *ngIf="actionMode!=3"> -->
                                      <input [ngClass]="{
                                        'is-invalid':
                                        sectionsForm.get('name')?.errors &&
                                        sectionsForm.get('name')?.touched,
                                        'is-valid':
                                        sectionsForm.get('name')?.touched &&
                                        sectionsForm.get('name')?.valid
                                    }"
                                       type="text" class="form-control" id="name" name="name" 
                                      placeholder="Asunto"
                                      formControlName="name" autocomplete="off">
                                      <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                      sectionsForm.get('name')?.hasError('required') &&
                                      sectionsForm.get('name')?.touched
                      "
                      >Campo requerido
                    </div>
                                    <!-- </ng-container>
                                    <ng-container *ngIf="actionMode==3">
                                      <input type="text" class="form-control" id="name" name="name" 
                                      placeholder="Nombre" readonly=""
                                      formControlName="name" autocomplete="off">
                                    </ng-container> -->
                                    <label for="name" >Nombre</label>
                                  </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                      <div class="row" style="margin-top: 20px;">
                          <div class="col-md-12" style="text-align: right;">
                           <ng-container *ngIf="actionMode==1">
                            <button  class="btn btn-primary" id="buttonSumit" data-bs-dismiss="modal" (click)="workSection(1)"
                            [disabled]="!sectionsForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                           <ng-container *ngIf="actionMode==2">
                            <button  class="btn btn-success" id="buttonSumit" data-bs-dismiss="modal" (click)="workSection(2)"
                            [disabled]="!sectionsForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                              <button type="button" class="btn btn-dark" style="margin-left: 5px;" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                      </div>
                  </div>
                  </form>
                </ng-container>
               
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>
</div>
</div>
