<div class="card border-light mb-3" style="max-width:100%;">
    <div class="card-body" style="padding-left: 50px; padding-right: 50px;">
      <div class="container-fluid">
        <br>
        <div class="container">
          <div class="row">
            <div class="card border-light mb-3" style="max-width: 100%; text-align: center;">
              <div class="card-header"><h2 class="card-title">Inventario</h2></div>
            </div>
            
          </div>
        </div>
      
        <div class="row " style="margin-top: 10px; margin-bottom: 25px;">
          <ng-container *ngIf="currentRole=='Administrador'">
            <div class="col-md-12"  style="text-align: left; padding-left: 93%;">
                <button type="button" class="btn btn-primary btn-sm" data-bs-target="#modalUsers" data-bs-toggle="modal"
                (click)=" modalMode(1)">Añadir</button>
            </div>
          </ng-container>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            <table class="table table-hover" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Facultad</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light" *ngFor="let item of equipments; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.sections?.name}}</td>
                    <td>{{item.facultys?.name}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm"  data-bs-target="#modalUsers" data-bs-toggle="modal"
                        style="margin-right: 10px;" (click)=" modalMode(2, item)">Detalles</button>
                        <ng-container *ngIf="currentRole=='Administrador'">
                          <button type="button" class="btn btn-success btn-sm"  
                        data-bs-target="#modalUsers" data-bs-toggle="modal"
                        (click)=" modalMode(3, item)">Editar</button>
                        </ng-container>   
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="row"  style="text-align: center;">
          <div class="col-md-12">
              <i class="fa fa-arrow-left fa-2x"  style="cursor: pointer; text-align: center;margin-top: 10px" (click)="backClicked()"
              data-bs-toggle="tooltip" data-bs-placement="right" title="Volver"></i>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- modal Añadir, Detalles y Editar -->
  <div class="modal"  id="modalUsers">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" 
          [ngClass]="{'text-primary': modalTitle=='Añadir Equipo','text-info': modalTitle=='Detalles del Equipo', 
          'text-success': modalTitle=='Editar Equipo' }"
          >{{modalTitle}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card border-light mb-3" style="max-width: 100%">
            
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <form (ngSubmit)="workerEquipment()" [formGroup]="equipmentForm" >
                    <fieldset>
                      <div class="form-floating">
                        <ng-container *ngIf="actionMode!=3">
                          <input [ngClass]="{
                            'is-invalid':
                            equipmentForm.get('name')?.errors &&
                            equipmentForm.get('name')?.touched,
                            'is-valid':
                            equipmentForm.get('name')?.touched &&
                            equipmentForm.get('name')?.valid
                        }" 
                          type="text" class="form-control" id="name" name="name" 
                          placeholder="Nombre y Apellidos"
                          formControlName="name" autocomplete="off">
                          <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          equipmentForm.get('name')?.hasError('required') &&
                          equipmentForm.get('name')?.touched
                      "
                      >
                      Campo requerido
                  </div>
                        </ng-container>
                        <ng-container *ngIf="actionMode==3">
                          <input type="text" class="form-control" id="name" name="name" 
                          placeholder="Nombre y Apellidos" readonly=""
                          formControlName="name" autocomplete="off">
                        </ng-container>
                        <label for="name" >Nombre</label>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-control">
                            <ng-container *ngIf="actionMode == 1">
                              <label for="facultyId" >Facultad</label>
                              <select [ngClass]="{
                                'is-invalid':
                                equipmentForm.get('facultyId')?.errors &&
                                equipmentForm.get('facultyId')?.touched,
                                'is-valid':
                                equipmentForm.get('facultyId')?.touched &&
                                equipmentForm.get('facultyId')?.valid
                            }"  
                              class="form-select" id="facultyId" name="facultyId" formControlName="facultyId" 
                              [(ngModel)]='facultySelect'>
                                <option  value="" disabled>--Seleccione--</option>
                                <option [value] = "item.id" *ngFor="let item of facultys$ | async" >
                                  {{item.name}}
                                  </option>
                              </select>
                              <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              equipmentForm.get('facultyId')?.hasError('required') &&
                              equipmentForm.get('facultyId')?.touched
                          "
                          >
                          Campo requerido
                        </div>
                          </ng-container>
                            <ng-container *ngIf="actionMode == 2">
                              <label for="facultyId" >Facultad</label>
                              <select  [ngClass]="{
                                'is-invalid':
                                equipmentForm.get('facultyId')?.errors &&
                                equipmentForm.get('facultyId')?.touched,
                                'is-valid':
                                equipmentForm.get('facultyId')?.touched &&
                                equipmentForm.get('facultyId')?.valid
                            }"
                               class="form-select" id="facultyId" name="facultyId" formControlName="facultyId"
                              [(ngModel)]='facultySelect'>
                                <option  value="" disabled>--Seleccione--</option>
                                <option [value]= "item.id" *ngFor="let item of facultys$ | async" >
                                  {{item.name}}
                                  </option>
                              </select>
                              <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              equipmentForm.get('facultyId')?.hasError('required') &&
                              equipmentForm.get('facultyId')?.touched
                          "
                          >
                          Campo requerido
                        </div>
                          </ng-container>
                        </div>
                            <ng-container *ngIf="actionMode ==3">
                              <div class="form-floating">
                            <input type="text" class="form-control" id="facultyId" name="facultyId"  readonly=""
                            formControlName="facultyId" autocomplete="off"  placeholder="Facultad">
                            <label for="facultyId" >Facultad</label>
                          </div>
                        </ng-container>
                         
                        </div>
                        <div class="col-md-6">
                          <div class="form-control">
                            <ng-container *ngIf="actionMode ==1">
                              <label for="sectionId" >Departamento</label>
                              <select   [ngClass]="{
                                'is-invalid':
                                equipmentForm.get('sectionId')?.errors &&
                                equipmentForm.get('sectionId')?.touched,
                                'is-valid':
                                equipmentForm.get('sectionId')?.touched &&
                                equipmentForm.get('sectionId')?.valid
                            }"
                              class="form-select" id="sectionId" name="sectionId" formControlName="sectionId"
                              [(ngModel)]='sectionSelect'>
                                <option  value="">--Seleccione--</option>
                                <option [value]="item.id" *ngFor="let item of sections$ | async" >
                                  {{item.name}}
                                  </option>
                              </select>
                              <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              equipmentForm.get('sectionId')?.hasError('required') &&
                              equipmentForm.get('sectionId')?.touched
                          "
                          >
                          Campo requerido
                      </div>
                          </ng-container>
                            <ng-container *ngIf="actionMode ==2">
                              <label for="sectionId" >Departamento</label>
                              <select   [ngClass]="{
                                'is-invalid':
                                equipmentForm.get('sectionId')?.errors &&
                                equipmentForm.get('sectionId')?.touched,
                                'is-valid':
                                equipmentForm.get('sectionId')?.touched &&
                                equipmentForm.get('sectionId')?.valid
                            }"
                              class="form-select" id="sectionId" name="sectionId" formControlName="sectionId"
                              [(ngModel)]='sectionSelect'>
                               <option  value="" disabled>--Seleccione--</option>
                                <option [value]="item.id" *ngFor="let item of sections$ | async" >
                                  {{item.name}}
                                  </option>
                              </select>
                              <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              equipmentForm.get('sectionId')?.hasError('required') &&
                              equipmentForm.get('sectionId')?.touched
                          "
                          >
                          Campo requerido
                      </div>
                          </ng-container>
                        </div>
                            <ng-container *ngIf="actionMode ==3">
                              <div class="form-floating">
                              <input type="text" class="form-control" id="sectionId" name="sectionId"   readonly=""
                              formControlName="sectionId" autocomplete="off"  placeholder="Departamento">
                              <label for="sectionId" >Departamento</label>
                             </div>
                          </ng-container>
                        </div>
                      </div>

                      <div class="card border-light mb-3" style="max-width: 100%; margin-top: 10px;">
                        <div class="card-body">
                          <div class="row">
                            <div class="card-header">
                              <div class="row">
                                <div class="col-md-6"> <h4 class="card-title">Componentes</h4></div>
                                <div class="col-md-6" style="text-align: right;">
                                  <ng-container *ngIf="actionMode !=3">
                                   <button  class="btn btn-primary  btn-sm" (click)="addHardwares()"
                                  type="button" >+
                              </button></ng-container>
                            </div>
                            <div class="hardColorsError text-center" 
                            *ngIf="fieldHardwaresValidators == 2"
                              >  Campos requeridos
                           </div>
                              </div>
                             </div>
                             <ng-container *ngIf="actionMode !=3">
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="faculty" name="faculty" 
                                [(ngModel)]="name"  autocomplete="off" placeholder="Nombre" [ngModelOptions]="{standalone: true}">
                                <label for="faculty" >Nombre</label>
                            </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="faculty" name="faculty"  
                                [(ngModel)]="noSerie"  autocomplete="off"  placeholder="No Serie" [ngModelOptions]="{standalone: true}">
                                <label for="faculty" >No Serie</label>
                            </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="faculty" name="faculty" 
                                [(ngModel)]="label"  autocomplete="off" placeholder="Marca" [ngModelOptions]="{standalone: true}">
                                <label for="faculty" >Marca</label>
                            </div>
                            </div>
                          </ng-container>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <table class="table">
                              <ng-container *ngIf="actionMode ==3">
                              <thead>
                                <tr >
                                  <th scope="col">Name</th>
                                  <th scope="col">No. Serie</th>
                                  <th scope="col">Marca</th>
                                  <th></th>
                                </tr>
                              </thead>
                              </ng-container>
                                <tbody>
                                  <tr class="table-light" *ngFor="let item of arrayHardwares">
                                    <td>{{item.name}}</td>
                                    <td>{{item.noSerie}}</td>
                                    <td>{{item.label}} </td>
                                    <ng-container *ngIf="actionMode ==2">
                                    <td><button  class="btn btn-success btn-sm" data-bs-target="#modalComponent" data-bs-toggle="modal" 
                                      type="button" (click)="getHardware(item)">...
                                  </button></td></ng-container>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group">
                      <div class="row" style="margin-top: 20px;">
                          <div class="col-md-12" style="text-align: right;">
                           <ng-container *ngIf="actionMode==1">
                            <button  class="btn btn-primary" id="buttonSumit" data-bs-dismiss="modal" (click)="workerEquipment()"
                            type="submit" [disabled]="!equipmentForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                           <ng-container *ngIf="actionMode==2">
                            <button  class="btn btn-success" id="buttonSumit" data-bs-dismiss="modal" (click)="workerEquipment()"
                            type="submit" [disabled]="!equipmentForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                              <button type="button" class="btn btn-dark" style="margin-left: 5px;" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Editar Componente -->
   <div class="modal"  id="modalComponent">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success">Actualizar Componente</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button> -->
        </div>
        <div class="modal-body">
          <div class="card border-light mb-3" style="max-width: 100%">
            
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <form (ngSubmit)="editHardwares()" [formGroup]="hardwareForm" >
                    <fieldset>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" 
                            formControlName="name"  autocomplete="off" placeholder="Nombre">
                            <label for="name" >Nombre</label>
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="noSerie" name="noSerie"  
                             formControlName="noSerie"  autocomplete="off"  placeholder="No Serie" >
                            <label for="noSerie" >No Serie</label>
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="label" name="label" 
                            formControlName="label"  autocomplete="off" placeholder="Marca">
                            <label for="label" >Marca</label>
                        </div>
                        </div>
                      </div>
                  
                  

                  <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12" style="text-align: right;">
                      <button  class="btn btn-success btn-sm" id="buttonSumit"  (click)="editHardwares()"
                      type="submit" [disabled]="!hardwareForm.valid">Actualizar
                  </button>
                        <button type="button" class="btn btn-dark btn-sm" style="margin-left: 5px;" (click)="closeModalComponent()">Cancelar</button>
                    </div>
                </div>
                    </fieldset>
                  </form>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>